body{
    max-height: relative;
    max-width: relative;
    color: white;
}


#startButton {
    padding-top: 15%;
    margin-bottom: 4px;
}

.container { 
    display: none;
}

#idNumber {
    margin-left: 2px;
}

#playerOneDiv {
    background-color: navajowhite;

}

#playerTwoDiv {
    background-color: navajowhite;

}

#commentBox{
    background-color: white;
    border-style: solid;
    border-color: black;
    margin: 2px, 2px, 2px, 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-width: 1px;
    border-radius: round;
    max-height: 200px;
    overflow: hidden;
}

#userNameOne {
    color: green;
    text: bold;
    font-size: 18px;
    background-color: white;
    margin-bottom: 4px;
    opacity: .7;
}

#userNameTwo {
    color: Red;
    text: bold;
    font-size: 18px;
    background-color: white;
    margin-bottom: 4px;
    opacity: .7;
}

#tie {
    text: bold;
    font-size: 24px;
}
